.rth-background {
    background-image: url(../img/background.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    min-height: 300px;
}

.rth-background-color {
    background-color: rgba(202, 150, 92);
}

.rth-shadow {
    box-shadow: 0 2px 4px black;
}

.rth-font {
    font-family: "dancing script", cursive;
    font-size: 10vh;
}

.rth-header-color {
    background-color: rgba(99, 73, 51, 1);
}

.rth-nav-item {
    background-color: rgba(202, 150, 92, 0.8);
    margin-left: 5px;
    margin-bottom: 5px;
}

.rth-nav-item:hover {
    background-color: rgba(202, 150, 92, 0.6) ;
}

.rth-brand-style {
    width: 80px;
    height: 80px;
    background-color: rgba(202, 150, 92, 0.8);
    border: hidden;
    border-radius: 50px;
}

.rth-footer {
    background-color: rgba(99, 73, 51, 1);
    width: 100%;
    min-height: 50px;
    box-shadow: 0 -2px 3px black;
}
